<nav class="justify-content-center">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="footerContent">
          <h4>Site Navigation</h4>
          <p href="">About Us</p>
          <p href="">Contact Us</p>
          <p href="">Departments</p>
          <p href="">RTI</p>
          <p href="">Patients</p>
          <p href="">Tenders</p>
          <p href="">Recruitments</p>
        </div>
      </div>
      <div class="col">
        <div class="footerContent">
          <h4>Quick Links</h4>

          <p href="">Government of Jharkhand</p>
          <p href="">National Medical Commission</p>
          <p href="">Departments</p>
          <p href="">Ministry of Health and Family Welfare</p>
          <p href="">Junior Doctors' Association</p>
          <p href="">Antiragging Online Registration System</p>
        </div>
      </div>
      <div class="col">
        <div class="footerContent contact">
          <h4>Contact</h4>
          <br />
          <h6>RIMS, Bariatu Ranchi, Jharkhand</h6>

          <br />
          <h6 class="contactData" href="tel:8501903007">
            Mobile: 0651-2776000
          </h6>
          <br />
          <h6>Fax: +91-651-2540629</h6>
          <br />
          <img src="/assets/india.png" alt="" width="300" height="80" />
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container-fluid">
    <p>
      Copyright 1996-{{ date }} | All Right Resetved by
      <a
        style="color: rgb(163, 41, 41)"
        class="navbar-brand"
        href="https://computered.in/"
        target="_blank"
      >
        COMPUTER Ed.</a
      >
    </p>
  </div>
</nav>
