.loginbox {
  margin-top: 6%;
  content: counter(name);
  background-color: #fff;
}
.loginImage {
  margin-top: 40px;
}
.container {
  margin-bottom: 10%;
}

p {
  font-size: xx-small;
}

label {
  font-size: x-small;
  color: gray;
}

.input-group-text,
input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  outline: none;
  background-color: white;
  /* height: 60px; */
}

.formdata {
  /* margin-left: 40%; */
  text-align: left;
  padding: 5%;
}

.form-control:focus {
  border-color: gray;
  box-shadow: none;
}

.form-control {
  height: 60px;
}

.input-group-text {
  text-align: left;
  padding: 1px;
}

span {
  text-align: right;
}

.loginbtn {
  margin-top: 2%;
  width: 100%;
  color: rgb(63, 59, 59);
  background-color: #dcd9d9;
}

.eye {
  box-shadow: none;
  border: none;
  background-color: white;
  border-bottom: 1px solid gray;
  color: gray;
}
