<app-nav-bar></app-nav-bar>
<div *ngIf="alert" class="alert alert-info container-fluid" role="alert">
  Nothing to Display
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-8">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/main.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/assets/chairman.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/assets/main2.jpeg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="box">
        <div class="box-heading">
          <p class="latestNews">
            <span class="nitice" (click)="default()"> Latest News || </span>
            <span class="nitice" (click)="tenders()"> Tenders || </span>
            <span class="nitice" (click)="recuit()"> Recruitments || </span>
            <span class="nitice" (click)="result()"> Result </span>
          </p>
        </div>
        <div class="notice-container">
          <ul class="notice-list" #noticeList>
            <li *ngFor="let notice of allData">
              <p style="color: rgb(13, 118, 83)">{{ notice.date }}</p>
              <a class="allList" href=""
                >{{ notice.rims }}
                <hr
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="slider-container">
    <div class="slider">
      <div class="slide">
        <p class="slidePara">
          * RIMS TELEPHONIC: Tollfree No.: 1800-345-7056 | Mobile Nos.:
          94317-63648, 94315-34107, 94317-87461 | Monday to Saturday | Time:
          10.00 am to 12.00 pm
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container aboutSection">
  <p class="about">
    <strong>Rajendra Institute of Medical Sciences (RIMS) </strong> is the
    premier institute of the state of Jharkhand established by an Act of its
    Legislative Assembly. The establishment of this institute is an expression
    of the dream of the people of Jharkhand to develop a leading centre of
    excellence in the region dedicated to the mission of patient care,
    education, research, and community service of the highest order. Though in
    existence since 1959, the transformation of RIMS in 2002 from a College cum
    Hospital to an Institute emphasized the grand vision of the state to upgrade
    science, scholarship, and innovation to improve health of the people of this
    region.
  </p>

  <p class="about">
    To realize this vision, RIMS encompasses one college each of medical,
    dental, nursing, and paramedical courses. It has approximately 1000 medical,
    200 dental, 400 nursing, and 300 paramedical students. There are nearly 500
    junior residents, 150 senior residents, and 238 faculty in the institute
    dedicating themselves to patient care. The current attendance of out-patient
    department is ~2500 while that of in-patients is 1500. The institute
    constantly strives to increase these number to serve the ever-increasing
    number of patients who need in-patient or out-patient services from the
    institute.
    <a href=""> Read More>></a>
  </p>
</div>

<app-home-card></app-home-card>

<app-footer></app-footer>
